@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,600,800);

body {
  background-color: black;
  color: white;
  margin:0; 
  padding:0;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  background: url(/images/background.png);
}


div#plugins > div.band {
  width: 80%;
  height: 200px;

  display: block;
  float: left;
  border-radius: 15px 0;
  padding: 5px 15px;
  margin: 10px;
  border: 2px solid #444;
  box-shadow: 5px 5px 10px black;
  -moz-box-shadow: 5px 5px 10px black;
  -webkit-box-shadow: 5px 5px 10px black;
  overflow: hidden;
  background: -moz-linear-gradient(top, #444444 0%, #262626 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #444444 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #444444 0%,#262626 100%); /* IE10+ */
  background: linear-gradient(top, #444444 0%,#262626 100%); /* W3C */
}

div#plugins table.calendar td {
  width: 13%;
  height: 100%;
}
div#plugins table.calendar td.wake-up {
  background-color: red;
}
div#plugins table.calendar td.outside-business-hours {
  background-color: orange;
}

div#plugins table.calendar span.date {
  display: block;
  float: left
  width: 100%;
}

div#plugins table.calendar span.count {
  display: block;
  float: left;
  width: 100%;
  font-size: 200%;
  text-align: center;
}

div#plugins > div {
  width: 28%;
  height: 400px;
  display: block;
  float: left;
  border-radius: 15px 0;
  padding: 5px 15px;
  margin: 10px;
  border: 2px solid #444;
  box-shadow: 5px 5px 10px black;
  -moz-box-shadow: 5px 5px 10px black;
  -webkit-box-shadow: 5px 5px 10px black;
  overflow: hidden;
  background: -moz-linear-gradient(top, #444444 0%, #262626 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #444444 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #444444 0%,#262626 100%); /* IE10+ */
  background: linear-gradient(top, #444444 0%,#262626 100%); /* W3C */
}

div#plugins > div h3 {
  margin: 0;
  color: orange;
  font-size: 25px;
}

div#plugins ul {
  margin: 5px;
  list-style: square;
  list-style-position: inside;
  padding: 0;
}

/* Google Weather Styles */
.temperature {
	font-size: 10.5em;
	margin: 0px;
	text-align: center;
}

.conditions {
	font-size: 2.8em;
	margin: 0;
	text-align: center;
}

/* Jenkins Styles */
.jenkins {
	background:url(/images/jenkins.png) bottom left no-repeat #fff;
	padding: 20px 20px 20px 233px;
	margin: -5px -15px;
	height:370px;
}
.builds {
	font-size: 250px;
	margin: 30px 0px;
	padding:0px;
	text-align: center;
	color:#D33833;
	line-height:70px;
}
.fail-text {
	font-size: 50px;
	line-height: 50px;
}
.fail-list {
	color: #D33833;
	margin: 0px 20px;
}